@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.image-alt-detector-bar {
  max-width: 400px;
  position: fixed;
  left: 1rem;
  top: 1rem;
  color: rgb(59, 62, 77);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px;
  z-index: 999999;
  padding: 1rem 2.5rem;
  border: 1px solid rgb(228, 230, 242);
  border-radius: 5px;
}

.image-alt-detector-bar::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  border-radius: 50%;
  background-color: #ff0000;
  animation: blink .8s infinite;
}

.detected-element-text {
  font-size: 16px;
}
