<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Alt Detector</title>
    <script src="/app/popup.js" defer></script>
    <link rel="stylesheet" href="/styles/popup.css" />
  </head>
  <body>
    <h3 class="app-title">
      <strong>Image Alt Detector</strong>
    </h3>
    <button type="button" id="detectImageAlt" class="detect-button">
      Detect which images there are no "alt" attribute.
    </button>
    <div class="informational-links-title">Informational links:</div>
    <div>
      <a href="https://www.w3schools.com/tags/att_img_alt.asp" target="_blank" class="alt-attribute-info-link">
        What is "alt" attribute?
        <img src="/assets/link-out.svg" alt="">
      </a>
      <a href="https://www.w3.org/WAI/tutorials/images/decorative" target="_blank" class="alt-attribute-info-link">
        What is decorative image?
        <img src="/assets/link-out.svg" alt="">
      </a>
    </div>
  </body>
</html>
